@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Bebas Neue";
    src: local("Bebas Neue"),
      url("../fonts/bebas/BebasNeueRegular.otf") format("otf");
  }
  @font-face {
    font-family: "Gilroy";
    src: local("Gilroy"), url("../fonts/gilroy/GilroyLight.otf") format("otf");
  }
}
