@tailwind base;
@tailwind components;

.login-splash {
  background: url("../img/NATGAS-2.jpg") center center no-repeat;
  background-size: cover;
}

.main-button {
  @apply rounded-md bg-natgas-azul-claro px-16 py-3 text-xs font-semibold text-white shadow;
}

.input-general {
  @apply rounded-[20px] border-[4px] border-natgas-gris-cool py-2 pl-4  pr-10 placeholder-gray-600 focus:outline-none dark:text-gray-200;
}

.title-general {
  @apply ml-4 mr-4 border-natgas-gris-cool text-3xl dark:text-white font-helvetica-bold;
}

.title-white {
  @apply border-b-4 border-white text-right text-3xl font-bold text-white;
}

.primary-button {
  @apply w-48 rounded-full py-4 text-sm text-white;
}

.primary-button-blue {
  @apply w-48 rounded-full bg-natgas-azul bg-gradient-to-r py-4 text-sm text-white dark:bg-natgas-azul-claro;
}

.number-bold {
  @apply ml-2 font-gilroy-extrabold font-bold text-natgas-azul dark:text-natgas-sec-one;
}

.general-btn {
  @apply rounded-full border-2 px-6 py-2 font-gilroy-light text-sm;
}

.modal-input {
  @apply rounded border-0 bg-natgas-azul-claro bg-opacity-30 text-white placeholder-gray-400;
}

.required-input-feedback {
  @apply italic text-red-500;
}

.table-input {
  @apply rounded-xl border-0 bg-gray-200 dark:bg-gray-600 dark:text-gray-100 dark:placeholder-gray-300;
}

.natgas-divisor {
  @apply mt-5 mb-10 border-2 border-natgas-azul dark:border-gray-300;
}

.blog-content {
  background: linear-gradient(90deg, #007dba 0%, #43b02a 100%);
  transform: matrix(1, -0.04, 0, 1, 0, 0);
}

.blog-content > div {
  transform: matrix(1, 0.04, 0, 1, 0, 0);
}

.lastblog-content {
  background: linear-gradient(90deg, #00a99d 0%, #098b90 100%);
  transform: matrix(1, -0.04, 0, 1, 0, 0);
}

.lastblog-content > div {
  transform: matrix(1, 0.04, 0, 1, 0, 0);
}

@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Bebas Neue Regular";
    src: url("../fonts/bebas/BebasNeueRegular.otf") format("opentype");
  }
  @font-face {
    font-family: "Bebas Neue Bold";
    src: url("../fonts/bebas/BebasNeueBold.otf") format("opentype");
  }
  @font-face {
    font-family: "Bebas Neue Light";
    src: url("../fonts/bebas/BebasNeueLight.otf") format("opentype");
  }
  @font-face {
    font-family: "Bebas Neue Thin";
    src: url("../fonts/bebas/BebasNeueThin.otf") format("opentype");
  }
  @font-face {
    font-family: "Gilroy Light";
    src: url("../fonts/gilroy/GilroyLight.otf") format("opentype");
  }
  @font-face {
    font-family: "Gilroy Extra Bold";
    src: url("../fonts/gilroy/GilroyExtraBold.otf") format("opentype");
  }
  @font-face {
    font-family: "Helvetica Neue Bold";
    src: url("../fonts/helvetica_neue/HelveticaNeueLTStd-Bd.otf")
      format("opentype");
  }
  @font-face {
    font-family: "Helvetica Neue Light";
    src: url("../fonts/helvetica_neue/HelveticaNeueLTStd-Lt.otf")
      format("opentype");
  }
  @font-face {
    font-family: "Helvetica Neue Medium";
    src: url("../fonts/helvetica_neue/HelveticaNeueLTStd-Md.otf")
      format("opentype");
  }
  @font-face {
    font-family: "Helvetica Neue Regular";
    src: url("../fonts/helvetica_neue/HelveticaNeueLTStd-Roman.otf")
      format("opentype");
  }
  @font-face {
    font-family: "Quicksand Regular";
    src: url("../fonts/quicksand/QuicksandRegular.ttf") format("truetype");
  }
  @font-face {
    font-family: "Quicksand Bold";
    src: url("../fonts/quicksand/QuicksandBold.otf") format("opentype");
  }
}
